//------------------------------------------------------------------------------
//	Import Statements
//------------------------------------------------------------------------------

@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/grid";
@import "libs/typography"; 	
//@import "libs/forms";	





//------------------------------------------------------------------------------
//	Global Styles
//------------------------------------------------------------------------------

body {
	@extend .clearfix;
	width: 100%; 
}

.container {
	@extend .clearfix; 
	max-width: 1200px;
	margin: 0 auto;  
	padding:0 20px;
}





//------------------------------------------------------------------------------
//	Extends
//------------------------------------------------------------------------------

.is-uppercase {	text-transform:uppercase; }
.is-inline{		@include inline-block(); }
.is-centered{	text-align:center; }
.clearfix{		@include clearfix(); }





//------------------------------------------------------------------------------
//	Layout
//------------------------------------------------------------------------------

// Start layout styles here




//------------------------------------------------------------------------------
//	Print styles
//------------------------------------------------------------------------------

@media print {
	body {
		font-size: percentage(10 / 16);
		@include adjust-leading-to(2);
	}
}



